body {
  height: 100vh;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  align-items: top;
  background: linear-gradient(to top left, #43cea2, #185a9d);
}

#super-container {
  /* Överordnad container som innehåller de mindre */
  display: flex; /* Flex ger ett rutmönster */
  flex-direction: column;
  align-items: center; /* Justera mot horisontell mitt */
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  /* border: solid; */
}

#header-container {
  /* Statisk text */
  display: flex;
  font-family: sans-serif;
  font-size: 45px;
  line-height: 5;
  width: 60%;
  height: 20%;
  padding: 2%;
  align-items: bottom; /* Vertikalt centrerad */
  justify-content: center; /* Horisontellt centrerad */
  text-align: bottom;
  color: rgb(24, 239, 13);
  background-color: transparent;
}

#canvas-container {
  display: flex; /* Flex ger ett rutmönster */
  flex-direction: row;
  justify-content: center; /* Centrering på raden, dvs horisontellt */
  align-items: center;
  /* width: 80%; */
  width: 100%;
  height: 85%;
  border: 1px solid black;
}

#buttons-container {
	/*Rutan som knapparna visas i*/
  position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: center; /* Centering i kolumnen, dvs vertikalt */
  bottom: -40%; 
  width: 40%;
  height: 60%;

}

#button-1-container {
	/*Rutan som bildutmatningen sker i*/
	display: flex;
	flex-direction: column;
	justify-content: center; /* Centering i kolumnen, dvs vertikalt */
  width: 20%;
  height: 20%;
}

#button-2-container {
	/*Rutan som knapparna visas i*/
	display: flex;
	flex-direction: row;
	justify-content: center; /* Centering i kolumnen, dvs vertikalt */
  width: 20%;
  height: 20%;
}

#button-3-container {
	/*Rutan som knapparna visas i*/
	display: flex;
	flex-direction: row;
	justify-content: center; /* Centering i kolumnen, dvs vertikalt */
  width: 20%;
  height: 20%;
}

#button-4-container {
	/*Rutan som knapparna visas i*/
	display: flex;
	flex-direction: row;
	justify-content: center; /* Centering i kolumnen, dvs vertikalt */
  width: 20%;
  height: 20%;
}

#player-card-container {
  position: fixed;
	display: flex;
	justify-content: center; /* Centering i kolumnen, dvs vertikalt */
  bottom: 30%; 
  width: 15%;
  height: 15%;

}
#dealer-card-container {
  position: fixed;
	display: flex;
	justify-content: center; /* Centering i kolumnen, dvs vertikalt */
  bottom: 80%; 
  width: 15%;
  height: 15%;

}

#bettingmoderater-container {
  position: fixed;
  display: flex;
	justify-content: top; 
  align-items: top;
  flex-direction: column;
  left: 15%;
  bottom: 10%; 
  width: 10%;
  height: 60%;
  background-color: transparent;

}

#button-betting1-container {
	/*Rutan som knapparna visas i*/
	display: flex;
	flex-direction: row;
	justify-content: center; /* Centering i kolumnen, dvs vertikalt */
  width: 25%;
  height: 25%;
}

#button-betting2-container {
	/*Rutan som knapparna visas i*/
	display: flex;
	flex-direction: row;
	justify-content: center; /* Centering i kolumnen, dvs vertikalt */
  width: 25%;
  height: 25%;
}

#button-betting3-container {
	/*Rutan som knapparna visas i*/
	display: flex;
	flex-direction: row;
	justify-content: center; /* Centering i kolumnen, dvs vertikalt */
  width: 25%;
  height: 25%;
}

#button-betting4-container {
	/*Rutan som knapparna visas i*/
	display: flex;
	flex-direction: row;
	justify-content: center; /* Centering i kolumnen, dvs vertikalt */
  width: 25%;
  height: 25%;
}

#handA-container {
  position: fixed;
	display: flex;
	justify-content: left; /* Centering i kolumnen, dvs vertikalt */
  bottom: 30%; 
  left: 25%;
  width: 15%;
  height: 15%;
  border: solid;
  border-width: 10px;
  border-color: rgb(255, 230, 0);
}

#handB-container {
  position: fixed;
	display: flex;
	justify-content: right; /* Centering i kolumnen, dvs vertikalt */
  bottom: 30%; 
  right: 25%;
  width: 15%;
  height: 15%;
  border: solid;
  border-width: 10px;
  border-color: rgb(255, 0, 217);
}

#bet-output-container {
  position: fixed;
	display: flex;
	justify-content: right; /* Centering i kolumnen, dvs vertikalt */
  top: 5%; 
  left: 5%;
  width: 20%;
  height: 10%;
  font-size: 25px;
  color:rgb(121, 226, 23);
}

#amount-chips-container {
  position: fixed;
	display: flex;
	justify-content: right; /* Centering i kolumnen, dvs vertikalt */
  top: 10%; 
  left: 0.5%;
  width: 30%;
  height: 10%;
  font-size: 25px;
  color:rgb(121, 226, 23);
}



#start-button-container {
  /*Rutan som knapparna visas i*/
  margin: center;
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centering i kolumnen, dvs vertikalt */
  width: 10%;
  height: 10%;

}

#continue-button-container {
  /*Rutan som knapparna visas i*/
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centering i kolumnen, dvs vertikalt */
  width: 10%;
  height: 10%;
}